*{
    margin: 0;

}

body{
    font-style: "poppins",sans-sarif;
}

h1{
    margin-top: 200px;
    margin-left: 100px;
    font-size: 52px;
}

p{
    font-size: 20px;
    margin-left: 100px;
    letter-spacing: 1px;
    line-height: 25px;
}