*{
    margin: 0;

}

body{
    font-style: "poppins",sans-sarif;
}

h1{
    margin-top: 200px;
    margin-left: 100px;
    font-size: 52px;
    
}

p{
    font-size: 20px;
    margin-left: 100px;
    letter-spacing: 1px;
    line-height: 25px;
}

footer{
    background-color: #333;
    padding: 20px 0;
}
.footer_content{
    display: flex;
    justify-content: space-around;
}
.foot{
    flex: 1;
}
.foot h3{
    color: aliceblue;

}
.foot p{
color: aliceblue;
}